@media (max-width: 600px) {
    body {
        padding: 10px;
    }

    header {
        padding: 1rem;
    }

    h1 {
        font-size: 1.8rem;
    }

    section {
        padding: 15px;
    }
}


img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}
